@model StarlineTest.MVC.ViewModel.UserViewModel

@{
    ViewBag.Title = "SGP - Questões";
}

<h3>
    Banco de questões
</h3>

<small>
    @Ajax.ActionLink("Home", "Index", "Users", new AjaxOptions() { UpdateTargetId = "main" })
    > @Ajax.ActionLink(Model.Nome, "Index", "Users", new AjaxOptions() { UpdateTargetId = "main" })
    > Banco de questões
</small>

<hr />

<p class="mtm">
    @Ajax.ActionLink("Adicionar", "Create", new { userId = Model.UserId }, new AjaxOptions() { UpdateTargetId = "main-modal" })
</p>

@if (Model.Questions == null || !Model.Questions.Any())
{
    <p>
        Nenhum registro encontrado.
    </p>
}
else
{
    <table class="table">
        <tr>
            <th width="50%">
                Enunciado
            </th>
            <th>
                Tipo da Questão
            </th>
            <th>
                Respostas
            </th>
            <th style="width:250px"></th>
        </tr>

        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Enunciated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeOfQuestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Answers)
                </td>
                <td>
                    <div class="fr">
                        @Ajax.ActionLink("Editar", "Edit", new { id = item.QuestionId }, new AjaxOptions() { UpdateTargetId = "main-modal" }) |

                        @Ajax.ActionLink("Excluir", "Delete", new { id = item.QuestionId }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            Confirm = "Você realmente deseja excluir este registro?",
                            OnSuccess = "reloadQuestions"
                        })
                    </div>
                </td>
            </tr>
        }
    </table>
}

<script>
    function reloadQuestions() {
        $.ajax({
            url: '@Url.Action("Index", "Questions", new { userId = Model.UserId })'
        }).done(function (data) {
            $("#main").html(data);
        });
    }
</script>
