@model IEnumerable<StarlineTest.MVC.ViewModel.UserViewModel>

@{
    ViewBag.Title = "SGP - Usuários";
}

<h3>
    Usuários
</h3>

<small>
    @Ajax.ActionLink("Home", "Index", new AjaxOptions() { UpdateTargetId = "main" })
    > Usuários
</small>

<hr />

<p class="mtm">
    @Ajax.ActionLink("Adicionar", "Create", new AjaxOptions() { UpdateTargetId = "main-modal" })
</p>

@if (!Model.Any())
{
    <p>
        Nenhum registro encontrado.
    </p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Nome
            </th>
            <th class="center" style="width:150px">
                Ativo
            </th>
            <th style="width:250px"></th>
        </tr>

         @foreach (var item in Model)
         {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <div class="center">
                        @Html.DisplayFor(modelItem => item.Active)
                    </div>
                </td>
                <td>
                    <div class="fr">
                        @Ajax.ActionLink("Banco de Questões", "Index", "Questions", new { userId = item.UserId }, new AjaxOptions()
                        {
                            UpdateTargetId = "main"
                        }) |

                        @Ajax.ActionLink("Editar", "Edit", new { id = item.UserId }, new AjaxOptions() { UpdateTargetId = "main-modal" }) |
                        
                        @Ajax.ActionLink("Excluir", "Delete", new { id = item.UserId }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            Confirm = "Você realmente deseja excluir este registro?",
                            OnSuccess = "reloadUsers"
                        }) 
                    </div>
                </td>
            </tr>
        }
    </table>
}

@section Scripts{
    <script>
        function reloadUsers() {
            $.ajax({
                url: '@Url.Action("Index", "Users")'
            }).done(function (data) {
                $("#main").html(data);
            });
        }
    </script>
}
