@model IEnumerable<StarlineTest.MVC.ViewModel.UserViewModel>

@{
    ViewBag.Title = "SGP - Usuários";
}

<p class="mtm">
    @Ajax.ActionLink("Adicionar", "Create", new AjaxOptions() { UpdateTargetId = "main-modal" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th style="width:5%">
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th style="width:10%"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            <div class="center">
                @Html.DisplayFor(modelItem => item.Active)
            </div>
        </td>
        <td>
            <div class="fr">
                @Ajax.ActionLink("Editar", "Edit", new { id = item.UserId }, new AjaxOptions() { UpdateTargetId = "main-modal" }) |
                @Ajax.ActionLink("Excluir", "Delete", new { id = item.UserId }, new AjaxOptions()
                {
                    HttpMethod = "POST",
                    Confirm = "Você realmente deseja excluir este registro?",
                    OnSuccess = "reloadUsers"
                }) 
            </div>
        </td>
    </tr>
}
</table>

<script>
    function reloadUsers() {
        $.ajax({
            url: '@Url.Action("Index", "Users")'
        }).done(function (data) {
            $("#main").html(data);
        });
    }
</script>
